.navigation {
    display: flex;

    align-items: center;
}

.navigation__list {
    display: flex;


    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-body);

    &>li:not(:last-child) {
            margin-right: 50px;
        }
    &:hover,
    &:focus {
            color: #2196F3;
            transition: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.navigation__item {
    position: relative;
}

.navigation__link--active {
    color: #2196F3;
}

.navigation__link--active::after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 44px;
    left: 0%;
    width: 100%;
    height: 4px;
    opacity: 1;
    background: #2196F3;
    border-radius: 2px;
}