.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    &:hover,
    &:focus {
        background-color: #2196F3;
        }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}



.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background: #FFFFFF;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu__mobile-close:hover, .menu__mobile-close:focus {
color: #2196F3;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

// .mobile-menu .link {
//     display: block;
//     padding: 10px;
//     color: #fff;
//     text-decoration: none;
// }

.mobilenavigation__list {
    margin-bottom: 306px;
    &>li:not(:last-child) {margin-bottom: 32px;}
}

.mobilenavigation__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    
    &:hover, &:focus {color: #2196F3;}
    
}

.mobilecontact {

    margin-bottom: 64px;
    &>li:not(:last-child) {margin-bottom: 32px;}

    &__linktel {
        font-weight: 500;
            font-size: 34px;
            line-height: 40px;
                   
            letter-spacing: 0.02em;
        
            color: var(--accent-color);
    }

    &__linkmail {
        font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
        
            color: var(--color-body-second);
    }
}

.mobilesocial {
    display: flex;
    gap: 20px;

    &__link {
        font-weight: 500;
            font-size: 18px;
            line-height: 22px;
                   
            letter-spacing: 0.02em;
        
            color: #2196F3;
    }
}