/* ______________FUTER______________ */

/* styles footer */

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.footer__container {
    @media screen and (min-width:320px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
   
    @media screen and (min-width:480px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
}
   
    
    

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }
    
    @media screen and (min-width:1200px) {
            display: flex;
            flex-direction: row;
            gap: 70px;
            align-items: baseline;
            justify-content: space-between;
    }

   
}

.logotipe--margin {
    
    margin-bottom: 28px;
    @media screen and (min-width:768px) {}
    
    @media screen and (min-width:1200px) {
        margin-bottom: 20px;
    }
}

.logotipe__studio--color {
    color: #FFFFFF;
}

.footer__contact {
    font-style: normal;
    
}

.address{
    
    @media screen and (min-width:320px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;
        }

    @media screen and (min-width:480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    }
        &>li:not(:last-child) {
            padding-bottom: 12px;
        }
    @media screen and (min-width:768px) {}
        
    @media screen and (min-width:1200px) {
        align-items: baseline;
        &>li:not(:last-child) {
                padding-bottom: 9px;
            }
    }
}

    .address__item {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
    &:hover,
    &:focus {
            color: #2196F3;
            transition: cubic-bezier(0.4, 0, 0.2, 1);
        }
             
}


.address__mail,
.address__tel {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address__mail:hover,
.address__mail:focus,
.address__mail:active {
    color: #2196F3;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__tel:hover,
.address__tel:focus,
.address__tel:active {
    color: #2196F3;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__title {
    
    @media screen and (min-width:320px) {
            text-align: center;
    
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 14px;
            line-height: calc(16/14);
            letter-spacing: 0.03em;
            text-transform: uppercase;
    
            color: #FFFFFF;
        }

    @media screen and (min-width:480px) {
        text-align: center;
    
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;}

    @media screen and (min-width:768px) {
        
    }
    
    @media screen and (min-width:1200px) {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: left;
        color: #FFFFFF;}
}

.footer__social {
   
    @media screen and (min-width:320px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            margin-bottom: 60px;
    
            &--bloc {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
        }

    @media screen and (min-width:480px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin-bottom: 60px;
            &--bloc {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                }
    }

    @media screen and (min-width:768px) {

    }
    
    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        align-items: baseline;    
    }
}

.footer__icon {
    width: 44px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    &:hover,
    &:focus,
    &:active {
            background: #2196F3;
            transition: cubic-bezier(0.4, 0, 0.2, 1);
        }
}



/* Стилі для форми футера */

.footer__form {
    
    @media screen and (min-width:320px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

    @media screen and (min-width:480px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    @media screen and (min-width:768px) {
        margin-left: auto;
        margin-right: auto;
    }
    
    @media screen and (min-width:1200px) {
        margin-left: 23px;
    }
    
}



.subscribe {
    @media screen and (min-width:320px) {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    @media screen and (min-width:480px) {
        position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

    @media screen and (min-width:768px) {}
    
    @media screen and (min-width:1200px) {
            align-items: baseline;
            flex-direction: row;
            }
        }


.subscribe__input {

    @media screen and (min-width:320px) {
            width: 290px;
            height: 50px;
            margin-bottom: 20px;
            padding-left: 16px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background: #2F303A;
            color: rgba(255, 255, 255, 0.6);
        }

    @media screen and (min-width:480px) {
        width: 450px;
        height: 50px;
        margin-bottom: 20px;
        padding-left: 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background: #2F303A;
        color: rgba(255, 255, 255, 0.6);}
    
    
    @media screen and (min-width:768px) {}
    
    @media screen and (min-width:1200px) {
        width: 358px;
            height: 50px;
            padding-left: 16px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            background: #2F303A;
            color: rgba(255, 255, 255, 0.6);
    }
   
}

.icon-send {
    
    @media screen and (min-width:320px) {
            position: absolute;
            top: 82px;
            right: 75px;
            fill: #FFFFFF;
        }

    @media screen and (min-width:480px) {
        position: absolute;
            top: 82px;
            right: 125px;
            fill: #FFFFFF;
    }
    
    
    @media screen and (min-width:768px) {}
    
    @media screen and (min-width:1200px) {
        position: absolute;
            top: 13px;
            right: 28px;
            fill: #FFFFFF;
    }
}

.subscribe__button {
    margin-left: 12px;
    padding-left: 28px;
    padding-right: 62px;
    max-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);

    letter-spacing: 0.06em;

    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

/* Кінець стилів для форми футера */

