.header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__content {
    display: flex;
    align-items: center;
    
    @media screen and (min-width:320px) {
            justify-content: space-between;
        }

    @media screen and (min-width:480px) {
        justify-content: space-between;
    }
    
}

.contact {
   
    display: none;

        @media screen and (min-width:768px) {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            
                color: var(--color-body-second);
                font-weight: 500;
                font-size: 14px;
                line-height: calc(16/14);
                letter-spacing: 0.02em;
            
                           
                &:hover,
                &:focus {
                    color: #2196F3;
                }
        }
    
        @media screen and (min-width:1200px) {
            display: flex;
            flex-direction: row;
            margin-left: auto;
                color: var(--color-body-second);
                font-weight: 500;
                font-size: 14px;
                line-height: calc(16/14);
                letter-spacing: 0.02em;
            
                &>li:not(:last-child) {
                    margin-right: 50px;
                }
            
                &:hover,
                &:focus {
                    color: #2196F3;
                }
        }
}

.contact__link {
    


    @media screen and (min-width:768px) {
        display: flex;
        
        flex-direction: row;
    }
    
    @media screen and (min-width:1200px) {
        display: flex;
        
            flex-direction: row;
    }
}

.contact__mail {
    display: flex;
    margin-right: 10px;
    fill: currentColor;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {color: #2196F3; transition: 250 cubic-bezier(0.4, 0, 0.2, 1);
        }
}



.contact__tel {
    display: flex;
    margin-right: 10px;
    fill: currentColor;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
            color: #2196F3;
        }
}

