/* styses team - Наша команда */

.team {
    background: #F5F4FA;
    max-width: 1600px;
    /* height: 708px; */
    margin-right: auto;
    margin-left: auto;
}

.team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team__list {
    display: flex;
    &>li:not(:last-child) {
            margin-right: 30px;
        }
}



.team__item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__info {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: auto;
    padding-right: auto;
    ;

}


.team h3 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team p {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team__social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.team__icon {
    width: 44px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    border-radius: 50%;

    &:hover,
    &:focus,
    &:active {
            background: #2196F3;
            transition: cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &:hover,
    &:focus,
    &:active {
            color: #FFFFFF;
            transition: cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
    fill: currentColor;
}




/* END styses team - Наша команда */